@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.site-footer {
  background-color: #2b3a55;
  padding: 1rem 0;
  @include tablet {
    padding: 2rem 0;
  }

  &__container {
    color: rgb(202, 197, 197);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include desktop {
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  &__main-text {
    font-weight: 600;
    font-size: 1.25rem;
    color: ivory;
    margin: 1.5rem 0;
    @include tablet {
      margin-top: 0;
      margin-bottom: 1.5rem;
    }
  }

  &__icon {
    width: 28px;
    height: 28px;
  }

  &__small-wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__wrapper {
    padding: 0 1rem;
    @include tablet {
      padding: 0 2rem;
    }
  }

  &__flex-container {
    @include tablet {
      display: flex;
      gap: 5rem;
    }
    @include desktop {
      display: flex;
      gap: 9rem;
    }
  }
}
