@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-recipe {
  margin: 1rem;
  @include tablet {
    margin: 2rem;
  }

  &__container {
    @include desktop {
      max-width: 1216px;
      margin: 0 auto;
    }
  }

  .edit-recipe__back-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .edit-recipe__sub-heading {
    margin-top: 0;
  }

  &__select {
    border: 1px solid rgba(128, 128, 128, 0.6);
    padding: 0.5rem;
    border-radius: 10px;
    outline: none;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: $Text-Color;
    &:focus {
      box-shadow: 1px 2px 6px 1px $Input-Box-Shadow;
    }
  }

  &__textarea {
    @extend .edit-recipe__select;
    resize: none;
    height: auto;
  }

  &__descript-textarea {
    height: 100px;
  }

  &__step-textarea {
    height: 60px;
    margin-bottom: 1rem;
  }

  &__ingre-textarea {
    height: 36px;
    margin-bottom: 1rem;
  }

  &__field {
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 1.5rem;
    }
  }

  &__label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: 600;
  }

  &__previewed-image {
    width: 70%;
    margin-bottom: 1rem;
    border-radius: 20px;
    @include tablet {
      width: 100%;
    }
  }

  &__big-container {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    @include tablet {
      width: 48%;
    }
  }

  &__fields-wrapper {
    @include tablet {
      width: 48%;
    }
  }

  &__flex-container {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__flex-item {
    @include tablet {
      width: 48%;
    }
  }

  &__change-num {
    background-color: $Button-Color;
    color: white;
    width: 40px;
    height: 26px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: $Button-Hover-Color;
    }
    &:active {
      width: 38px;
      height: 24px;
    }
  }

  &__change-num-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__input-error {
    border: 1px solid red;
  }

  &__progress {
    margin-top: 1rem;
    @include tablet {
      margin-top: 0.5rem;
    }
  }

  &__progress--tablet {
    display: none;
    @include tablet {
      display: block;
    }
  }

  &__progress--mobile {
    @include tablet {
      display: none;
    }
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      gap: 2rem;
    }
  }
}
