@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.macro-list {
  margin: 1rem 2rem;

  &__container {
    @include desktop {
      max-width: 1216px;
      margin: 0 auto;
    }
  }

  &__main-text {
    font-weight: 600;
  }

  &__texts {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: rgba(128, 128, 128, 0.141);
    border-radius: 10px;
    &:hover {
      background-color: rgba(128, 128, 128, 0.392);
    }
  }

  &__text {
    background-image: url("../../assets/icons/reorder.png");
    background-size: 2rem;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 2rem;
    text-align: center;
    margin: 0;
    cursor: pointer;
    &:first-child {
      width: 125px;
    }
    &:nth-child(2) {
      width: 73px;
      margin: 0 33px;
    }
    &:nth-child(3) {
      width: 135px;
    }
    &:nth-child(4) {
      width: 130px;
    }
    &:last-child {
      width: 85px;
      cursor: auto;
      background-image: none;
    }
  }

  &__text--hidden {
    display: none;
    @include tablet {
      display: block;
    }
  }

  &__text--energy-hidden {
    display: none;
    @include small-mobile {
      display: block;
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  &__search-box {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.6);
    padding: 0.7rem 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    background-color: #ffffff;
    outline: none;
    background-image: url("../../assets/icons/search.png");
    background-position: 1rem;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    padding-left: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: $Text-Color;
    &:focus {
      box-shadow: 1px 2px 6px 1px $Input-Box-Shadow;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  @include tablet {
    margin: 2rem;
  }
}
