@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.btn {
  border: none;
  border-radius: 20px;
  background-color: $Button-Color;
  color: #ffffff;
  &:hover {
    background-color: $Button-Hover-Color;
  }
  padding: 1rem;
}

.btn--macro-page-first-error,
.btn--macro-page-second-error,
.btn--macro-page-third-error,
.btn--macro-page-fifth-error {
  border: 1px solid red;
}

.btn--profile {
  padding: 0.5rem;
  height: 35px;
  width: 80px;
  border-radius: 10px;
}

.btn--profile-modal-box {
  width: 100%;
}

.btn--macro-list {
  height: 45px;
  padding: 0.5rem 1rem;
}

.btn--add-macro {
  padding: 0.5rem;
  height: 36px;
  width: 100%;
  @include tablet {
    width: 100px;
  }
}
