@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.btn {
  border: none;
  border-radius: 20px;
  background-color: $Button-Color;
  color: #ffffff;
  cursor: pointer;
  padding: 1rem;

  &--signup {
    width: 285px;
    @include desktop {
      width: 312px;
    }
  }

  &--macro-page {
    margin-top: 0.5rem;
    @include desktop {
      margin-top: 0;
    }
  }

  &--login {
    width: 100%;
  }

  &--macro-page--error {
    border: 1.5px solid red;
  }

  &--profile {
    padding: 0.5rem;
    height: 35px;
    width: 80px;
    border-radius: 10px;
  }

  &--profile-modal-box {
    width: 100%;
  }

  &--macro-list {
    height: 45px;
    padding: 0.5rem 1rem;
    @include tablet {
      margin-top: 0.5rem;
    }
  }

  &--add-macro,
  &--edit-macro {
    padding: 0.5rem;
    height: 36px;
    width: 100%;
    @include tablet {
      width: 100px;
    }
  }

  &--recipe-library {
    height: 50px;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    @include tablet {
      width: 140px;
      margin-bottom: 0;
    }
  }

  &--detail-macro {
    height: 50px;
    width: 100%;
    padding: 0.5rem, 1rem;
    margin-bottom: 1rem;
    @include tablet {
      width: 100px;
      margin-top: 8px;
      margin-bottom: 0;
    }
  }

  &--recipe-comment {
    width: 100%;
    @include tablet {
      width: 120px;
      margin-left: auto;
    }
  }

  &--add-recipe-submit {
    width: 100%;
    margin-top: 1.5rem;
    @include tablet {
      margin: 0;
      width: auto;
    }
  }

  &--edit-recipe-submit {
    width: 100%;
    @include tablet {
      width: auto;
      margin-top: 0.5rem;
    }
  }

  &--mobile {
    @include tablet {
      display: none;
    }
  }

  &--tablet {
    display: none;
    @include tablet {
      display: inline-block;
    }
  }

  &--home-page {
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 0;
      margin-top: 1rem;
      height: 55px;
      width: 250px;
      margin-left: auto;
    }
  }

  &--modal-box {
    height: 50px;
    width: 100%;
  }

  &:hover {
    background-color: $Button-Hover-Color;
  }
  &:active {
    transform: scale(0.99);
  }
}
