@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header-page {
  background-color: #2b3a55;
  padding-left: 1rem;
  padding-right: 1rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      max-width: 1216px;
      margin: 0 auto;
    }
  }

  &__user-profile-pic {
    width: 30px;
    @include tablet {
      width: 36px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    width: 100px;
    @include tablet {
      width: 120px;
    }
  }

  &__profile-link {
    width: 30%;
  }

  &__build-macro,
  &_recipe-library {
    display: none;
    @include desktop {
      display: block;
    }
  }

  &__track,
  &__macro-list,
  &__recipe-list {
    display: none;
    @include desktop {
      display: block;
    }
  }

  &__link:link,
  &__link:active,
  &__link:hover,
  &__link:visited {
    text-decoration: none;
    color: #ffffff;
  }

  &__menu {
    width: 35px;
    margin-right: 65px;
    @include tablet {
      margin-right: 80px;
      width: 40px;
    }
  }

  @include tablet {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
