//SETTING THE VARIABLES FOR THE TABLET AND DESKTOP WIDTHS
$tablet-width: 768px;
$desktop-width: 1280px;
//VARIABLES FOR COLORS
$Sage: #c9cba3;
$Peach: #ffe1a8;
$TerraCotta: #e26d5c;
$Catawba: #723d46;
$Burgundy: #472d30;
// $Button-Color: #3a6ea5;
// $Button-Hover-Color: #004e98;
$Button-Color: #e26e5cc2;
$Button-Hover-Color: #e26e5c;
$Input-Box-Shadow: rgba(226, 110, 92, 0.38);
$Row-Hover: rgba(226, 110, 92, 0.16);
$Text-Color: #16213e;
