//SETTING THE VARIABLES FOR THE TABLET AND DESKTOP WIDTHS
$tablet-width: 768px;
$desktop-width: 1280px;
//VARIABLES FOR COLORS
$Sage: #c9cba3;
$Peach: #ffe1a8;
$TerraCotta: #e26d5c;
$Catawba: #723d46;
$Burgundy: #472d30;
