@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.detail-recipe {
  &__img {
    width: 100%;
    object-fit: contain;
  }

  &__heading-wrapper {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
    }
  }

  &__heading {
    margin-bottom: 1.8rem;
    @include tablet {
      margin: 0;
      margin-right: auto;
    }
  }

  &__save {
    width: 40px;
  }

  &__first-wrapper {
    position: relative;
    height: 300px;
    display: flex;
    background-color: black;
    @include tablet {
      height: 400px;
    }
    @include desktop {
      height: 500px;
    }
  }

  &__avatar-wrapper {
    display: flex;
    gap: 1.5rem;
    position: absolute;
    align-items: center;
    bottom: 0.2rem;
    color: #ffffff;
    margin-left: 0 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    max-width: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 20px;
    padding: 0 1rem;
    p {
      margin: 0;
    }
    @include tablet {
      max-width: 450px;
      padding: 0.5rem 1rem;
    }
    @include desktop {
      padding: 1rem;
      max-width: 550px;
    }
  }

  &__recipe-infor {
    margin-bottom: 2rem;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__second-wrapper {
    margin: 0 1rem 2rem 1rem;
    @include tablet {
      margin: 0 2rem;
      margin: 0 2rem 2rem 2rem;
    }
  }

  &__second-wrapper-container {
    @include desktop {
      max-width: 1216px;
      margin: 0 auto;
    }
  }

  &__like-infor {
    display: flex;
    gap: 1rem;
    width: 130px;
    justify-content: space-between;
    align-items: flex-end;
    p {
      margin: 0;
      height: 20px;
    }
  }

  &__ready-time {
    margin-bottom: 1.5rem;
    @include tablet {
      margin-bottom: 0;
    }
  }

  &__like-icon {
    width: 30%;
  }

  &__text {
    margin-bottom: 1.5rem;
    @include tablet {
      margin-top: 1.5rem;
    }
  }

  &__small-text {
    font-weight: 600;
  }

  &__ingredients-infor-wrapper,
  &__directions-infor-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-weight: 600;
    }
    @include tablet {
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
    }
  }

  &__ingredients,
  &__steps {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    @include tablet {
      gap: 1.5rem;
    }
  }

  &__num {
    margin-top: 1.8rem;
    @include tablet {
      margin-bottom: 1.5rem;
      margin-top: 0;
    }
  }

  &__step {
    background-image: url("../../assets//icons/check.gif");
    background-size: 2rem;
    background-repeat: no-repeat;
    padding-left: 2rem;
  }

  &__ingredient {
    background-image: url("../../assets//icons/ingredient-icon.gif");
    background-size: 2rem;
    background-repeat: no-repeat;
    padding-left: 2rem;
  }

  &__ingre-step-boxes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include tablet {
      gap: 1rem;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__ingre-step-box {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
    @include tablet {
      padding: 2rem;
      &:first-child {
        width: 39%;
      }
      &:last-child {
        width: 59%;
      }
    }
  }

  &__ingredient-pic,
  &__step-pic {
    width: 400px;
    align-self: center;
    @include tablet {
      width: 310px;
    }
    @include desktop {
      width: 400px;
    }
  }

  &__comment-list {
    list-style: none;
    padding-left: 0;
    margin: 1.5rem 0;
    @include tablet {
      margin: 2rem 0;
    }
  }

  &__comment-textarea {
    border: 1px solid rgba(128, 128, 128, 0.6);
    padding: 0.5rem;
    border-radius: 10px;
    outline: none;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: $Text-Color;
    height: 150px;
    margin-bottom: 1rem;
    resize: none;
    &:focus {
      box-shadow: 1px 2px 6px 1px $Input-Box-Shadow;
    }
    @include tablet {
      height: 180px;
    }
  }

  &__comment-form {
    margin: 0 1rem;
    @include tablet {
      margin: 0 2rem;
    }
  }

  &__comment-form-container {
    max-width: 1216px;
    margin: 0 auto;
  }

  &__comment-flex-container {
    @include tablet {
      display: flex;
      gap: 3rem;
      align-items: flex-start;
    }
  }

  &__comment-wrapper {
    display: flex;
    gap: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    align-items: center;
    width: 200px;
    @include tablet {
      margin-bottom: 0;
    }
  }

  &__comment-flex-item {
    @include tablet {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__comment-poster {
    margin: 0;
  }

  &__edit-icon-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__back-icon-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    @include tablet {
      margin-right: auto;
    }
  }
}
