@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-macro {
  margin: 0 1rem;
  @include tablet {
    margin: 0 2rem;
  }
}

.edit-macro__flex-container {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.edit-macro__flex-item {
  @include tablet {
    width: 45%;
  }
}

.edit-macro__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.edit-macro__label {
  margin-bottom: 0.3rem;
  display: block;
}

.edit-macro__input {
  border: 1px solid rgba(128, 128, 128, 0.6);
  padding: 0.5rem;
  border-radius: 10px;
  outline: none;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: $Text-Color;
  &:focus {
    box-shadow: 1px 2px 6px 1px $Input-Box-Shadow;
  }
}

.edit-macro__input--error {
  border: 1px red solid;
}
