@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.recipe-library {
  margin: 0 1rem;
  @include tablet {
    margin: 0 2rem;
    position: relative;
  }
}

.recipe-library__items {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
