@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.logo {
  width: 150px;
  @include tablet {
    width: 170px;
  }
  @include desktop {
    width: 190px;
  }
}

.logo--header-page {
  margin: 0 auto;
  @include desktop {
    margin: inherit;
  }
}

.logo--site-footer-mobile {
  @include tablet {
    display: none;
  }
}

.logo--site-footer-tablet {
  display: none;
  @include tablet {
    display: block;
    padding-left: 1rem;
  }
}

.logo--header-page {
  margin: 0 auto;
  width: 130px;
  @include tablet {
    width: 170px;
  }
  @include desktop {
    width: 190px;
  }
}
