@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.profile-page {
  margin: 1rem;
  overflow: hidden;
  @include tablet {
    margin: 2rem;
  }

  &__text {
    border-top: 1px solid rgba(128, 128, 128, 0.162);
    padding: 1rem;
    display: flex;
    justify-content: center;
    height: 133px;
    flex-direction: column;
    &:hover {
      background-color: $Row-Hover;
      border-radius: 10px;
    }
    @include tablet {
      height: 93px;
      justify-content: flex-start;
      flex-direction: row;
      padding: 1rem 2rem;
      align-items: center;
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
      gap: 2rem;
      margin-bottom: 2rem;
      align-items: center;
    }
  }

  &__small-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      width: 60%;
    }
  }

  &__field {
    width: 100px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 1rem;
    @include tablet {
      width: 40%;
      padding-bottom: 0;
    }
  }

  &__value {
    width: 80px;
    margin: 0;
    @include tablet {
      text-align: center;
    }
  }

  &__modal-box {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__modal-box-form {
    width: 350px;
    height: 250px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    h3 {
      margin: 1rem 0;
    }
  }

  &__textarea {
    border: 1px solid rgba(128, 128, 128, 0.6);
    padding: 0.5rem;
    border-radius: 10px;
    outline: none;
    width: 100%;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: $Text-Color;
    &:focus {
      box-shadow: 1px 2px 6px 1px $Input-Box-Shadow;
    }
  }

  &__textarea--error {
    border: 1px red solid;
  }

  &__close-pic {
    width: 8%;
    margin-left: auto;
  }
}
