@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.side-menu {
  background-color: #1c3157ac;
  position: absolute;
  width: 200px;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

  &--appear {
    transition: transform 1s;
    transform: translate(0);
  }

  &--hidden {
    transition: transform 1s;
    transform: translate(-100%);
  }

  &__list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
    margin: 0;
    margin-top: 1rem;
  }

  &__item {
    padding: 1rem;
    padding-left: 2rem;
    text-decoration: none;
    color: #ffffff;
    height: 60px;
    display: flex;
    align-items: center;
    &:link,
    &:hover,
    &:active,
    &:visited {
      text-decoration: none;
    }
    &:hover {
      background-color: #1c3157;
    }
  }

  @include tablet {
    width: 300px;
  }
}
