@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.avatar {
  width: 56px;

  &--main {
    width: 80px;
  }

  &--profile-value {
    width: 60px;
  }

  &--recipe-library {
    width: 56px;
  }
}
