@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@keyframes boxAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.15;
    transform: scale(0.15);
  }
  30% {
    opacity: 0.3;
    transform: scale(0.3);
  }
  45% {
    opacity: 0.45;
    transform: scale(0.45);
  }
  60% {
    opacity: 0.6;
    transform: scale(0.6);
  }
  80% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.detail-page {
  margin: 0 1rem;
  @include tablet {
    margin: 0 2rem;
  }
}

.detail-page__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.detail-page__heading-wrap {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.detail-page__box {
  background-color: rgba(0, 79, 152, 0.163);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  @include tablet {
    margin-bottom: 1.5rem;
  }
  @include desktop {
    margin-bottom: 1rem;
    height: 311px;
    width: 49%;
  }
}

.detail-page__first-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail-page__third-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;
  @include desktop {
    height: 392px;
  }
}

.detail-page__heading {
  display: flex;
  gap: 1rem;
  p {
    font-weight: 600;
    font-size: 2.25rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    @include tablet {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }
}

.detail-page__value {
  display: flex;
  gap: 1rem;
  background-color: rgba(0, 79, 152, 0.278);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  p {
    margin: 0;
  }
}

.detail-page__explain {
  padding: 0 1rem;
  p {
    margin: 0;
  }
}

.detail-page__field {
  font-weight: 600;
}

.detail-page__wrapper-chart {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 79, 152, 0.163);
  border-radius: 10px;
  padding: 1rem 4rem;
  @include tablet {
    margin-bottom: 1.5rem;
  }
  @include desktop {
    width: 49%;
    height: 392px;
    margin-bottom: 1rem;
  }
}

.detail-page__wrapper-line-chart {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 79, 152, 0.163);
  border-radius: 10px;
  padding: 1rem;
  @include tablet {
    margin-bottom: 1.5rem;
  }
  @include desktop {
    height: 311px;
    width: 49%;
    margin-bottom: 1rem;
  }
}

.detail-page__box--activate {
  background-color: rgba(0, 79, 152, 0.163);
  animation: boxAnimation 0.5s;
  backdrop-filter: blur(20px);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include desktop {
    bottom: 14rem;
    left: 14rem;
    width: 70vw;
    height: 55vh;
  }
}
