@use "./styles/partials/mixins" as *;
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  @include tablet {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

h2 {
  font-size: 1.625rem;
  line-height: 2.25rem;
  font-weight: 700;
  @include tablet {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
  @include tablet {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

button {
  font-family: Arial, Helvetica, sans-serif;
}

.app--blur {
  filter: grayscale(100%);
}
